!!!
%html{lang: "en"}
  %head
    = Haml::Engine.new(File.read('app/partials/_head.haml')).render
  %body
    .fixed-buttons
      %a.whatsapp{ href: "http://api.whatsapp.com/send?phone=573133952014", target: "blank" }
        %img{ src: "assets/img/icons/whatsapp.png" }
      .js-gotop
        %img{ src: "assets/img/icons/top.png" }
    = Haml::Engine.new(File.read('app/partials/_navbar.haml')).render
    = Haml::Engine.new(File.read('app/partials/_slider.haml')).render
    = Haml::Engine.new(File.read('app/partials/_quick-form.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-about.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-list.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-video.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-properties.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-location.haml')).render
    = Haml::Engine.new(File.read('app/partials/_section-form.haml')).render
    = Haml::Engine.new(File.read('app/partials/_footer.haml')).render
    = Haml::Engine.new(File.read('app/partials/_scripts.haml')).render
