!!!
%html{lang: "en"}
  %head
    = Haml::Engine.new(File.read('app/partials/_head.haml')).render
  %body
    = Haml::Engine.new(File.read('app/partials/_navbar.haml')).render
    = Haml::Engine.new(File.read('app/partials/_slider.haml')).render
    = Haml::Engine.new(File.read('app/partials/_quick-form.haml')).render
    %section.main-about
      .main-about__text
        %h1.title
          Vive en
          %span Sabaneta
        %h4 Cerca de todo
        %p Ubicado en el municipio de Sabaneta, Antioquia, sector Loma de San José, zona de alta valorización, facilidad de acceso por diferentes vías, en una reserva natural que te entregará toda la tranquilidad que necesitas.
        %a.btn.btn-custom.mb-5{ href: "#" } Ver ubicación
      .main-about__img
        %img{ src: "assets/img/section-01.jpg", alt: "Vive en Sabaneta" }
    %section.main-nearby
      .main-nearby__img
        %img{ src: "assets/img/section-02.png", alt: "Nuestra Ciudadela" }
      .main-nearby__text
        %h1.title
          Nuestra
          %span ciudadela
        .main-nearby__list
          - list_one = [ {img: 'assets/img/icons/petzone.png', text: 'Pet zone'}, {img: 'assets/img/icons/theater.png', text: 'Teatrino'}, {img: 'assets/img/icons/church.png', text: 'Oratorio'}, {img: 'assets/img/icons/kidsgame.png', text: 'Juegos infantiles'}, {img: 'assets/img/icons/eco.png', text: 'Senderos ecológicos'}, {img: 'assets/img/icons/bike.png', text: 'La bicicleta'}, {img: 'assets/img/icons/house.png', text: 'Replica de la casa Sabaneta'} ]
          - list_two = [ {img: 'assets/img/icons/picnic.png', text: 'Zona de picnic'}, {img: 'assets/img/icons/viewpoint.png', text: 'Mirador'}, {img: 'assets/img/icons/tricycle.png', text: 'Pista de triciclos'}, {img: 'assets/img/icons/mountain.png', text: 'Circuito de ciclomontañismo'}, {img: 'assets/img/icons/store.png', text: 'Locales comerciales'}, {img: 'assets/img/icons/gym.png', text: 'Gimnasio'} ]
          %ul
            - list_one.each do |item|
              %li
                .list-icon
                  %img{ src: "#{item[:img]}" }
                .list-text= item[:text]
          %ul
            - list_two.each do |item|
              %li
                .list-icon
                  %img{ src: "#{item[:img]}" }
                .list-text= item[:text]
    %section.main-video{ style: "background-image: url('assets/img/section-03-bg.jpg');" }
      %h3 Video de toscana
      .main-video__trigger
        %img{ src: "assets/img/icons/play.png" }
    %section.main-properties
      .main-properties__item
        %img.property-img.w-100{ src: "assets/img/prato.jpg", alt: "Prato" }
        .item-mask
          %img.property-logo{ src: "assets/img/logos/logo-prato.png", alt: "Prato logo" }
          %h4.strong Prato
          %h4 Apartamentos
          .item-mask__area
            %span Área
            %br
            70 m² hasta 87 m²
          .item-mask__price
            %span Desde
            $323.601.608
            %br
            %small Valor impuestos incluido*
          .item-mask__button
            %a.btn.btn-custom.white{ href: "#" } Visitar Ahora
      .main-properties__item
        %img.property-img.w-100{ src: "assets/img/livorno.jpg", alt: "livorno" }
        .item-mask
          %img.property-logo{ src: "assets/img/logos/logo-livorno.png", alt: "livorno logo" }
          %h4.strong Livorno
          %h4 Apartamentos
          .item-mask__area
            %span Área
            %br
            55 m² hasta 62 m²
          .item-mask__price
            %span Desde
            $251.913.401
            %br
            %small Valor impuestos incluido*
          .item-mask__button
            %a.btn.btn-custom.white{ href: "#" } Visitar Ahora
    %section.main-location
      .main-location__header
        %h1 Ubicación
      .main-location__map
        %h1
          AQUÍ NOS PUEDES
          %span ENCONTRAR
        %iframe{allowfullscreen: "", "aria-hidden" => "false", frameborder: "0", height: "420", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.4684949969858!2d-75.6204883907434!3d6.139167438547209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46831c07d4c241%3A0x8d9fb9a3701ea18a!2sPRATO%20DE%20LA%20TOSCANA%20APARTAMENTOS!5e0!3m2!1sen!2sve!4v1587606198754!5m2!1sen!2sve", style: "border:0;", tabindex: "0"}
    %section.main-form
      .main-form__address
        %h1.title
          Nuestra
          %span Ciudadela
        %dl
          %dt Dirección
          %dd Calle 77 Sur Nro 34-35
          %dt Teléfono
          %dd + 57 520 27 14
          %dt Celular
          %dd + 57 314 877 57 01
      .main-form__form
        %form
          %h3
            %span contáctanos
            ahora
          .row
            .col-lg-6.col-md-6.col-xs-12
              .form-group
                %input.form-control{placeholder: "Nombre"}
            .col-lg-6.col-md-6.col-xs-12
              .form-group
                %input.form-control{placeholder: "Apellidos"}
            .col-lg-6.col-md-6.col-xs-12
              .form-group
                %input.form-control{placeholder: "Teléfono"}
            .col-lg-6.col-md-6.col-xs-12
              .form-group
                %input.form-control{placeholder: "Ciudad"}
            .col-lg-12.col-md-12.col-xs-12
              .form-group
                %input.form-control{placeholder: "Correo", type: "email"}
            .col-lg-12.col-md-12.col-xs-12
              .form-group.mb-0
                %textarea.form-control{placeholder: "Mensaje"}
            .col-lg-12.col-md-12.col-xs-12
              .form-group.form-check.mb-1
                %input.form-check-input{type: "checkbox"}/
                %label.form-check-label
                  Acepto
                  %a{ href: "#" } Politicas y Privacidad
            .col-lg-12.col-md-12.col-xs-12
              .form-group.mt-3
                %input.btn.btn-submit.btn-submit-white{ type: "submit" }
    %section.main-footer
      .main-footer__col
        %img{ src: "assets/img/logos/logo-toscana.png", alt: "Toscana Ciudadela Logo" }
        %p Ubicado en el municipio de Sabaneta, Antioquia, sector Loma de San José, zona de alta valorización en una reserva natural que te entregará toda la tranquilidad que necesitas.
        %ul.rrss
          %li
            %i.fa.fa-facebook
          %li
            %i.fa.fa-instagram
      .main-footer__col
        %ul.menu
          %li.menu-title MENÚ
          %li Vive en Sabaneta
          %li Estamos cerca de 
          %li Video 
          %li Proyectos
          %li Ubicación
          %li Contacto
      .main-footer__col
        %ul.menu
          %li.menu-title Contáctanos
        %dl
          %dt Dirección
          %dd Calle 77 Sur Nro 34-35
          %dt Teléfono
          %dd + 57 520 27 14
          %dt Celular
          %dd + 57 314 877 57 01
        %a.btn.btn-custom.transparent{ href: "" } Descargar Brochure
    = Haml::Engine.new(File.read('app/partials/_scripts.haml')).render
